/* Colors
 * Overwatch-Yellow: #ff9c00
 * Team-Blue: #00a5e2
 * Enemy-Red: #ee2c20
 * Background-Black: #202020
 * Text-White: #d2d2d2
 * Suggest-Green:
 */

body, div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #202020;
    color: #d2d2d2;

    font-family: Futura, sans-serif;
    text-align: center;

    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

h2 {
    margin: 5px;
    height: 56px;
}

body > div {
    flex-direction: column;
}

.teams {
    flex-direction: column;
    justify-content: space-between;
}

.teams > div {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    flex-grow:1;
    margin: 5px;
}

.opponents {
    border-color: #ee2c20;
}

.teammates {
    border-color: #00a5e2;
}

.available-heroes {
    flex-flow: row wrap;
    width: 710px;
}

.available-heroes::after {
    content: "Available Heroes";
}

.suggested-heroes {
    border: 3px solid;
    border-radius: 10px;
    border-color: #ff9c00;
    margin: 5px;
}
.suggested-heroes::after {
    content: "Suggested Heroes";
}

.hero {
    flex-direction: row;
    margin: 4px;
}

.hero .empty {
    border: 3px dashed #d2d2d2;
}

.hero:hover {
    background-color: #ff9c00;
}

.name {
    height: 50px;
    width: 56px;
    background-size:contain;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.remove {
    background-color: #ff9c00;
}

.remove::after {
    content: "X";
}

[data-bind~="click:"] {
    cursor: pointer;
}

[data-bind~="click:"]:hover{
    background-color: #FFB133;
}

